body {
    background-color:beige; 
    text-decoration: solid;
}
ul ol {
    list-style-type:disc;
    text-align:left;
}
h1 {
    color: red;
}
h2{
    color: red;
}
h3{
    color: red;
}